<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">
      На главную
    </button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum earum eveniet non nostrum sunt, vitae voluptatem? Alias consectetur corporis, dolorem doloribus esse facere harum iste iure laudantium libero nemo nisi odio placeat quia quisquam ratione sit temporibus ut voluptate voluptatem? Ea ipsa quasi veritatis? Deleniti earum, repellat! Ratione?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum earum eveniet non nostrum sunt, vitae voluptatem? Alias consectetur corporis, dolorem doloribus esse facere harum iste iure laudantium libero nemo nisi odio placeat quia quisquam ratione sit temporibus ut voluptate voluptatem? Ea ipsa quasi veritatis? Deleniti earum, repellat! Ratione?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum earum eveniet non nostrum sunt, vitae voluptatem? Alias consectetur corporis, dolorem doloribus esse facere harum iste iure laudantium libero nemo nisi odio placeat quia quisquam ratione sit temporibus ut voluptate voluptatem? Ea ipsa quasi veritatis? Deleniti earum, repellat! Ratione?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis dolorum earum eveniet non nostrum sunt, vitae voluptatem? Alias consectetur corporis, dolorem doloribus esse facere harum iste iure laudantium libero nemo nisi odio placeat quia quisquam ratione sit temporibus ut voluptate voluptatem? Ea ipsa quasi veritatis? Deleniti earum, repellat! Ratione?</p>
  </div>
</div>
